@font-face {
  font-family: "AsepriteFont";
  src: url(./components/font/AsepriteFont.ttf);
}

* {
  font-family: "AsepriteFont";
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecc081;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
